<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Security-Policy" content="img-src 'self' data:;default-src * gap://ready; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <title></title>
    <meta name="viewport" content="width=device-width;initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="assets/css/main.css">
    <script language="javascript">

        // We use this code for handling unexpected errors.
        // Using alert, we are sure that the user get notified in a Mobile device.
        // We add this code at the begining of the index.html and we use only native javascript functions.
        window.onerror = function(msg, url, lineNumber) {
            if (typeof(msg) === "string") {
                var error = msg + "\n\nFile: " + url + "\nLine: " + lineNumber;
                // Ommit cordova and 3rd party libs errors.
                if (url.indexOf("cordova") == -1 && url.indexOf("externallib") == -1 &&
                        url.indexOf("org.apache.cordova") == -1) {
                    window.alert(error);
                }
            } else {
                var error = msg;
            }

            // This may help debugging if we use logging apps in iOs or Android.
            if(typeof(console) !== "undefined" && typeof(console.log) === "function") {
                console.log(error);
            }

            // Let default error handler run.
            return false;
        };

    </script>
    <script src="cordova.js"></script>
    <script src="externallib/jquery.min.js"></script>
    <script src="externallib/jquery.touchSwipe.min.js"></script>
    <script src="externallib/md5.js"></script>
    <script src="externallib/matchMedia.js"></script>
    <script src="externallib/matchMedia.addListener.js"></script>
    <script src="externallib/underscore.js"></script>
    <script src="externallib/backbone.js"></script>
    <script src="externallib/backbone-localstorage.js"></script>
    <script src="externallib/js-inflate.min.js"></script>
    <script src="externallib/js-unzip.min.js"></script>
    <script src="externallib/modernizr.custom.34982.js"></script>
    <script src="externallib/signatureCapture.js"></script>
	<script src="externallib/DocumentHandler.js"></script>
    <script src="externallib/spin.min.js"></script>
    <script src="lib/mm.js"></script>
    <script src="lib/mm.panels.js"></script>
    <script src="lib/mm.util.js"></script>
    <script src="lib/mm.lang.js"></script>
    <script src="lib/mm.db.js"></script>
    <script src="lib/mm.tpl.js"></script>
    <script src="lib/mm.cache.js"></script>
    <script src="lib/mm.settings.js"></script>
    <script src="lib/mm.widgets.js"></script>
    <script src="lib/mm.sync.js"></script>
    <script src="lib/mm.emulator.js"></script>
    <script src="lib/mm.rdebugger.js"></script>
    <script src="externallib/easytimer.min.js"></script>
    <script src="lib/mm.fs.js"></script>
    <script data-main="lib/app.js" src="externallib/require.js"></script>
    <script language="javascript">
        // We should wait to phonegap, if not, we get errors like:
        // http://rickluna.com/wp/2012/04/solving-the-connection-to-the-server-was-unsuccessful-error-in-androidphonegap/
        $(document).bind('deviceready', function() {
            MM.log('Deviceready fired');
            screen.lockOrientation('portrait');
            MM.deviceReady = true;
            StatusBar.hide();
			MM.log('Hide Bar');
            Keyboard.hideFormAccessoryBar(false);
            
            navigator.globalization.getLocaleName(
                function (locale) {
                    MM.lang.locale = locale.value;
                    MM.log("Device locale loaded: " + locale.value);
                },
                function () {}
            );

            // Disable the back button, exists the app.
            document.addEventListener("backbutton", function() {
                MM.panels.goBack();
            }, false);

            // Call deviceIsReady function in plugins.
            // Plugins may not be able to listen for the deviceready event because it's possible that it was fire
            // when plugins whasn't loaded, we use a timeout of 5 seconds.
            setTimeout(function() {
                for (var el in MM.plugins) {
                    var plugin = MM.plugins[el];

                    if (typeof(plugin.deviceIsReady) == 'function') {
                        plugin.deviceIsReady();
                    }
                }
            }, 5000);
            MM.fs.init();

            // Check calendar events for new notifications.
            if (MM.plugins.events && MM.plugins.events.isPluginVisible()) {
                MM.plugins.events.checkLocalNotifications();
            }

            // App resume event.
            $(document).bind('resume', function() {

                // Check calendar events for new notifications.
                if (MM.plugins.events && MM.plugins.events.isPluginVisible()) {
                    MM.plugins.events.checkLocalNotifications();
                }
            });
        });

        // This function is for handling when the app is opened using a custom URL SCHEME.
        function handleOpenURL(url) {
            MM._appLaunchedByURL(url);
        }
    </script>

    <style id="mobilecssurl"></style>
</head>
<body class="connex">

<div class="loader2" id="loader2"></div>

<div id="add-site" style="display: none">

</div>

<div id="manage-accounts" style="display: none">

</div>

<div id="forgot-password" style="display: none">

</div>

<div id="main-wrapper" style="display: none">

</div>

<div id="app-dialog">
    <div>
        <div class="modalHeader">
        </div>
        <div class="modalContent">
        </div>
        <div class="modalFooter">
        </div>
        <div class="modalClear"></div>
    </div>
</div>
<div id="app-dialog2">
    <div>
        <div class="modalHeader">
        </div>
        <div class="modalContent">
        </div>
        <div class="modalFooter">
        </div>
        <div class="modalClear"></div>
    </div>
</div>

<script type="text/template" id="menu_template">
    
    <header class="header">
        <nav>
            <a class="menu-link" href="javascript:void(0)">menu</a>
            <div class="menu-content">
                <p><%= user.fullname %></p>
                <a href="#logout">Déconnexion</a>
            </div>
            <h1 class="logo"><a href="#">inhnov</a></h1>
            <a class="synchro" href="#refresh">synchronisation</a>
        </nav>
        <div class="underNav">
            <a class="back-link" href="#"><%= user.fullname %></a>
            <p class="parcours-title"><a href="#logout"><%= MM.lang.s("logout") %></a></p>
        </div>
    </header>
    <main class="main">
        <section class="bienvenue">
            <article class="bienvenue__intro">
                <p>Bienvenue</p>
                <p>Sélectionnez un parcours de formation :</p>
            </article>

            <ul class="bienvenue__list">
                <% _.each(courses, function(course) { %>
                <li class="bienvenue__item">
                    <a href="#">
                        <span class="title"><%= course.fullname %></span>
                        <span class="subtitle"></span>
                    </a>
                </li>
                <% }); %>
            </ul>
        </section>
    </main>

</script>

<script type="text/template" id="settings_template">
    
    <div class="settings-list">
        <ul class="nav nav-v">
            <li class="nav-item">
                <a href="#settings/general/" class="menu1 touch-row"><%= MM.lang.s("general") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/sync/" class="menu1 touch-row"><%= MM.lang.s("synchronization") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/spaceusage/" class="menu1 touch-row"><%= MM.lang.s("spaceusage") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/development/" class="menu1 touch-row"><%= MM.lang.s("development") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/reportbug/" class="menu1 touch-row"><%= MM.lang.s("reportabug") %><br></a>
            </li>
            <li class="nav-item">
                <a href="#settings/about/" class="menu1 touch-row"><%= MM.lang.s("about") %><br></a>
            </li>
            <% _.each(plugins, function(plugin) { %>
            <li class="nav-item">
                <a href="#settings/<%= plugin.menuURL %>" class="menu1 touch-row"><%= MM.lang.s(plugin.name) %><br></a>
            </li>
            <% }); %>
        </ul>
    </div>

</script>

<script type="text/template" id="add-site_template">

    <div class="wrapper">
        <header class="header">
            <h1 class="logo">inhnov</h1>
        </header>

        <main class="main">
        
            <img class="avatar" src="assets/images/ico-avatar.svg" width="60" height="60">

            <p class="text-helper">Saisissez vos codes de connexion</p>

            <form action="" novalidate class="form connexion">
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            <div class="form-field">
                                <input type="url" class="form-control is-invalid" id="url" autocapitalize="off" autocorrect="off" placeholder="<%= MM.lang.s("siteurl") %>">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="form-field">
                                <input id="username" class="form-control" type="email" name="username" value="" placeholder="Email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="form-field">
                                <input id="password" class="form-control" type="password" name="password" value="" placeholder="Mot de passe" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="form-field">
                                <button class="btn btn--connexion" type="submit" name="add" id="addsitebutton"><%= MM.lang.s("connection") %></button>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="invalid-text">Adresse URL incorrecte</p>
        
            </form>

            <a class="connex-link" href="#forgot-password">Problème de connexion ?</a>
            <% if (sites) { %>
                <% if (sites.length > 0) { %>
                    <a class="connex-link" href="#manage-accounts"><%= MM.lang.s("manageaccounts") %></a>
                <% } %>
            <% } %>
        </main>

    </div>

</script>

<script type="text/template" id="add-site-old_template">

    <h1 class="app-ico">
        <img src="img/login-logo.png" alt="Moodle">
    </h1>
    <form action="" novalidate>
        <div id="login-details">
            <p>
                <input type="url" id="url" autocapitalize="off" autocorrect="off" placeholder="<%= MM.lang.s("siteurl") %>">
            </p>
            <div id="login-credentials">
                <p>
                    <input type="text" id="username" autocapitalize="off" autocorrect="off" placeholder="<%= MM.lang.s("username") %>">
                </p>
                <p>
                    <input type="password" id="password" placeholder="<%= MM.lang.s("password") %>">
                </p>
            </div>
            <p>
                <input type="submit" name="add"   id="addsitebutton"   value="<%= MM.lang.s("add") %>">
                <input type="button" name="reset" id="resetsitebutton" value="<%= MM.lang.s("reset") %>">
            </p>
        </div>
    </form>
    <div id= "helplogin">
        <a href="#helpmelogin"><%= MM.lang.s("icantlogin") %></a>
        <a href="#manage-accounts"><%= MM.lang.s("manageaccounts") %></a>
    </div>

</script>

<script type="text/template" id="manage-accounts_template">

    <div class="wrapper">
        <header class="header">
            <h1 class="logo">inhnov</h1>
        </header>

        <main class="main">
            <img class="avatar" src="assets/images/ico-avatar.svg" width="60" height="60">
            <p class="text-helper">Ajouter ou selectionner un compte</p>

            <ul class="list-account">
                <% _.each(sites, function(site) { %>
                <li class="list-account__entry">
                    <a class="account-details" onclick="MM.loadSite('<%= site.id %>')">
                        <div class="field-like">
                            <p class="first"><%= site.fullname %></p>
                            <p class="second"><%= site.siteurl %></p>
                        </div>
                    </a>
                    <button class="btnDel" type="button" onclick="MM.settings.deleteSite('<%= site.id %>')">Supprimer</button>
                    <a class="btnDel" onclick="MM.settings.deleteSite('<%= site.id %>')">Supprimer</a>
                </li>
                <% });%>
            </ul>
            <button id="btn-add-account" class="btn btn--connexion" type="button">Ajouter</button>
            <a id="link-add-account" class="" href="#add-site">&nbsp;</a>
        </main>

    </div>

</script>



<script type="text/template" id="choose-account-upload_template">

    <h1 class="app-ico">
        <img src="img/login-logo.png" alt="Moodle">
    </h1>
    <h2><%= MM.lang.s('chooseaccountuploadfile') %></h2>
    <% _.each(sites, function(site) { %>
        <div class="accounts">
            <a class="account-details" data-siteid="<%= site.id %>" >
                <img src="<%= MM.util.getMoodleFilePath(site.userpictureurl, 1, site.id) %>">
                <div>
                    <span class="account-fullname"><%= MM.util.formatText(site.fullname) %></span>
                    <span class="account-sitename"><%= MM.util.formatText(site.sitename) %></span>
                    <span class="account-siteurl"><%= site.siteurl %></span>
                </div>
            </a>
        </div>
    <% });%>
    <div >
        <a id="btn-cancel-upload" class="btn"><%= MM.lang.s("cancel") %></a>
    </div>

</script>

<script type="text/template" id="forgot-password_template">

    <div class="wrapper">
        <header class="header">
            <h1 class="logo">inhnov</h1>
        </header>

        <main class="main">
        
            <img class="avatar" src="assets/images/ico-avatar.svg" width="60" height="60">

            <p class="text-helper">Saisissez votre adresse email<br/>pour récupérer votre mot de passe</p>

            <form action="" novalidate class="form connexion">
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            <div class="form-field">
                                <input type="url" class="form-control" id="urlpassword" autocapitalize="off" autocorrect="off" placeholder="<%= MM.lang.s("siteurl") %>">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="form-field">
                                <input type="email" class="form-control" id="emailpassword" autocapitalize="off" autocorrect="off" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="form-field">
                                <button class="btn btn--connexion" type="submit" name="send" id="forgotpasswordbutton">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="invalid-text-password">Adresse URL incorrecte</p>
        
            </form>

            <a class="connex-link" href="#logout">Revenir à la page de connexion</a>
        </main>

    </div>

</script>

</body>
</html>
